.loginmain{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #4065C5;
}

.logins{
    position: absolute;
    background-color: white;
    width: 95%;
    height: 90%;
    margin-top: 2.5%;
    margin-left: 2.5%;
}

.logong {
    position: fixed;
    width: 35%;
    height: 80%;
    margin-left: 9%;
    margin-top: -5%;
    cursor: pointer;
}

.logback {
    width: 30%;
    height: 85%;
    position: fixed;
    margin-left: 57%;
    margin-top:2%;
}

.kakao {
    cursor: pointer;
    position: absolute;
    margin-top: 70vh;
    margin-left: 10%;
    width: 40%;
    height: 10%;
    border: 0;
    border-radius: 1em;
    background-color: #FDDC3F;
}

.kakaoicon {
    position: absolute;
    margin-left: -47%;
    margin-top: -4vh;
    height: 80%;
}
.start {
    position: absolute;
    width: 100%;
    height: 10%;
    margin-top: -3vh;
    margin-left:-50%;
    font-weight: bold;
    font-size: 20px;
}
