.header{
    display: flex;
    align-items: center;
    background: none;
    height: 50px;
    color: black;
    z-index: 2;
    width: 100%;
    font-weight: bold;
    position : fixed;
    top:0px;
    background-color: white;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}
.nav > span{
    margin-right: 60px;
    cursor: pointer;
    
}

.auth{
    width: 50%;
    margin-right: 1em;
}

.auth > span{
    margin-right: 60px;
    cursor: pointer;
}

.headerImg{
    margin-left: 20px;
    width: 80px;
    height: 80px;
    display: inline-block;
}
