.header{
    display: flex;
    align-items: center;
    background: none;
    height: 60px;
    color: black;
    z-index: 2;
    top: 10px;
    width: 100%;
    font-weight: bold;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nav > span{
    margin-right: 60px;
    cursor: pointer;
}

.auth{
    width: 500px;
    margin-right: 1em;
}

.auth > span{
    margin-right: 60px;
    cursor: pointer;
}

.headerImg{
    margin-left: 20px;
    width: 80px;
    height: 80px;
    display: inline-block;
}
