.header{
    background-color: white;
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    z-index: 2;
    top: 0;
    width: 100%;
    font-weight: bold;
    position: fixed;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav > span{
    cursor: pointer;
    margin-right: 60px;
}

.auth{
    width: 500px;
    margin-right: 1em;
}

.auth > span{
    cursor: pointer;
    margin-right: 60px;
}

.text{
    color: black;
}

.headerImg{
    width: 120px;
    margin-left: 20px;
}