.contents{
    width: 100%;
    height: 100%;
    background-color: #4065C5;
}

.title {
    align-items: center;
    text-align: center;
    background-color: white;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.title > h2 {
    size : 60px;
}

.float {
    float : right;
    display: inline-block;
}
