.detail{
    width: 100%;
    height: 100%;
    background-color: #4065C5;
}

.blue{
    background-color: white;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img{
    margin-top: 100px;
}

.flex{
    display: flex;
}

.info > p{
    font-size: 20px;  
    line-height: 40px; 
}

.bold{
    font-weight: bold;
    font-size: 30px !important;
}

.info{
    margin: 50px 0 50px 220px;
}